node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
android/.gradle
debug.log
yarn-error.log
.vscode/launch.json
ios/Pods/*
node_modules
ios/build/*
android/app/build/
.vscode/.react/
